@font-face {
  font-family: "Integral CF";
  src: url("../fonts/Integral-CF/Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --bs-bold-font-family: "Integral CF", sans-serif;
  --bs-body-font-family: "Satoshi", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Push footer down */
}

body {
  background-color: #e6e3e3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-family: var(--bs-bold-font-family);
}

h3 {
  font-size: 2.5rem;
}
.bold-text {
  font-family: var(--bs-bold-font-family);
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.body-text {
  font-family: var(--bs-body-font-family);
  font-size: 1rem;
}

.w-40 {
  width: 40%;
}
.w-85 {
  width: 85%;
}
.w-95 {
  width: 95%;
}
.bg-transparent {
  background-color: transparent;
}

.icons {
  color: black;
}

/* Full-page loading overlay */
#page-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Spinner circle */
#page-loading .spinner {
  border: 5px solid #f3f3f3; /* Light gray */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/* Spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  position: absolute;
  right: -3px;
  list-style: none;
  padding: 0.5rem;
  margin: 0;
}

.dropdown-menu.show {
  display: block; /* visible when toggled */
}
/* By default, collapse is hidden on small screens */
#navbarNav {
  display: none;
}

#navbarNav.show {
  display: block;
}

/* On large screens, always show */
@media (min-width: 992px) {
  #navbarNav {
    display: flex !important;
  }
}

#scrollTopBtn {
  width: 60px;
  height: 60px;
  display: none; /* Initially hide the button */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.5s;
}
